* {
    box-sizing: border-box;
    margin:0;
}

body {
    font-family: 'Nunito', sans-serif;
    margin-bottom:75px;
    font-size:18px;
    line-height:24px;
}

/*Styles for navigation*/

nav {
    width:100%;
    background:#021859;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right:20px;
    height:50px;
    font-size:16px;
    line-height:24px;
}

.menu-icon {
    width:40px;
    height:40px;
    -webkit-filter:invert(1);
    filter:invert(1);
}

.menu-button {
    padding:0;
    margin:0;
    height:40px;
    width:50px;
    background:#021859;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background:#021859;
    padding:5px;
    right:0;
    top:50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow:hidden;
}
/* 
.dropdown:hover .dropdown-content {
    display: block;
} */

.drop-link {
    display:block;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display:inline-block;
}

h2 {
    font-family: 'Averia Serif Libre', cursive;
}

.nav-link {
    display:none;
}

a {
   color:white;
   text-decoration:none; 
}

/*Styles for hero*/

.hero {
    width:100%;
}

.hero-text {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:500px;
    padding-left:20px;
}

a.bio {
    color:black;
}

.photo-fade, .hero-image {
    width:100%;
    position:relative;
    padding:0;
    margin:0;
    margin-bottom:-4px;
    border:none;
    z-index:-1;
}

.image-text {
    position:absolute;
    margin:15px;
    top:0;
    font-size:16px;
    line-height:24px;
}


.faded {
    background-color:white;
    opacity:0.4;
}

h1 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 48px;
    line-height:55px;
    padding:0;
    margin:0;
}

h3 {
    font-size:30px;
    line-height: 40px;
}

.subtitle {
    font-style:italic;
    margin-top:30px;
    margin-bottom:50px;
}

button {
    padding-left:20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#D9AB9A;
    border-radius:5px;
    border: none;
    font-size: 20px;
    line-height:26px;
    width:200px;
    cursor:pointer;
}

.hidden {
    display:none;
}

/*Styles for projects section*/

section header {
    background-color:#03258C;
    color:white;
    height:50px;
    width:100%;
    display:flex;
    align-items:center;
    padding-left:20px;
}

.projects {
    position:relative;
    background-color:#021E73;
    width:100%;
    margin-top:0;
    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items:center;
}

.project-image {
    background:white;
    width:590px;
    min-height:290px;
    max-height:590px;
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
    margin:30px;
    display:relative;
}

.project-sample {
    width:100%;
}

.project-text {
    font-size:16px;
    line-height:24px;
    top:0;
    opacity:0.8;
}

.project-title {
    font-weight:bolder;
}

.project-buttons {
    width:100%;
    display:flex;
    justify-content:space-around;
    padding-bottom:15px;
}

button.project-button {
    width:125px;
    margin-top:20px;
    font-size:20px;
    line-height:24px;
    opacity:1;
    margin-left:2px;
    margin-right:2px;
}

.final {
    background:#021859;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:32px;
    line-height: 48px;
    padding:10px;
    height:200px;
}

button.next {
    position:absolute;
    right:0;
    top:calc(50% - 75px);
    height:150px;
    width:55px;
    padding:10px;
}

.next-arrow {
    height:40px;
}

/*Styles for footer*/

footer {
    position:fixed;
    bottom:0;
    background:#052DA6;
    width:100%;
    padding:5px;
    color:white;
    height:75px;
    padding-left:20px;
    z-index:2;
}

footer ul {
    height:60px;
}

.footer-icon {
    width: 35px;
    -webkit-filter:invert(1);
    filter:invert(1);
    margin-right:8px;
}

/* Optimizing for horizontal mobile */
@media only screen and (max-height:400px) {
    .hero {
        display:flex;
    }
    
    .hero-text {
        height:453px;
        padding-left:20px;
        width:75%;
    }

    .image-text {
        font-size:18px;
        line-height:24px;
    }
    
    .subtitle {
        margin-bottom:50px;
    }
}

/* Optimizing for tablet and wider */
@media only screen and (min-width:700px) {
    nav {
        padding:10px;
    }

    .menu-icon {
        display:none;
    }

    .nav-link {
        display:inline;
        padding-left:20px;
    }

    .hero {
        display:flex;
    }
    
    .hero-text {
        padding-left:20px;
        width:75%;
        display:flex;
        justify-content:center;
    }

    .image-text {
        font-size:20px;
        line-height:28px;
    }
    
    .hero-image {
        max-width:525px;
    }
}

@media only screen and (max-width:700px) {
    .project-image {
        width:80%;
    }
}