* {
    box-sizing: border-box;
    margin:0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size:18px;
    line-height:24px;
}

nav {
    width:100%;
    background:#021859;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right:20px;
    height:50px;
    font-size:16px;
    line-height:24px;
    position:fixed;
    top:0;
    z-index:100;
}

.menu-icon {
    width:30px;
    margin-top:5px;
    -webkit-filter:invert(1);
    filter:invert(1);
}

.dropdown {
    float: left;
    overflow: hidden;
    height:40px;
}

.drop-link {
    display:block;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
}

li {
    display:flex;
    align-items:center;
    height:40px;
}

h2 {
    font-family: 'Averia Serif Libre', cursive;
}

.nav-link {
    display:none;
}

a {
   color:white;
   text-decoration:none; 
}

.hero-text {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:450px;
    padding-left:20px;
    width:90%;
    text-align:center;
    margin-top:50px;
}

.bio {
    padding: 30px;
}

.hero-image {
    width:90%;
    border-radius:100px;
    border: 3px solid gray;
    max-width:525px;
    display: block;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
}

h1 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 48px;
    line-height:55px;
    padding:0;
    margin:0;
}

h3 {
    font-size:30px;
    line-height: 40px;
}

.subtitle {
    font-style:italic;
    margin-top:30px;
    margin-bottom:50px;
}

button {
    padding-left:20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#03258C;
    border-radius:5px;
    border: none;
    font-size: 20px;
    line-height:26px;
    width:200px;
    cursor:pointer;
    color:white;
    font-family: 'Nunito', sans-serif;
}

section header {
    background-color:#444;
    color:white;
    height:50px;
    width:100%;
    display:flex;
    align-items:center;
    padding-left:20px;
}

.projects {
    position:relative;
    background-color:#aaa;
    width:100%;
    margin-top:0;
    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items:center;
}

.project-image {
    background:white;
    width:590px;
    min-height:290px;
    padding:15px;
    margin:30px;
    display:relative;
}

.project-sample {
    width:100%;
}

.project-text {
    font-size:16px;
    line-height:24px;
    top:0;
    opacity:0.8;
}

.project-title {
    font-weight:bolder;
}

.project-buttons {
    width:100%;
    display:flex;
    justify-content:space-around;
    padding-bottom:15px;
}

button.project-button {
    width:125px;
    margin-top:20px;
    font-size:20px;
    line-height:24px;
    opacity:1;
    margin-left:2px;
    margin-right:2px;
}

.technologies {
    font-weight:bold;
}

.final {
    background:#021859;
    color:white;
    font-size:32px;
    padding:10px;
    padding-top:110px;
    height:260px;
    text-align:center;
}

footer {
    bottom:0;
    background:#052DA6;
    width:100%;
    padding:5px;
    color:white;
    height:75px;
    padding-left:20px;
}

footer ul {
    height:60px;
}

.icon-menu {
    display:inline-block;
}

.footer-icon {
    width: 35px;
    -webkit-filter:invert(1);
    filter:invert(1);
    margin-right:8px;
}

/* Optimizing for horizontal mobile */
@media only screen and (max-height:400px) {
    .hero {
        display:flex;
        align-items:center;
    }
    
    .hero-text {
        height:453px;
        padding-left:20px;
        width:50%;
    }
    
    .subtitle {
        margin-bottom:50px;
    }

    .hero-image {
        margin:20px;
        width:50%;
        height:auto;
    }
}

/* Optimizing for tablet and wider */
@media only screen and (min-width:700px) {
    nav {
        padding:10px;
    }

    button.dropbtn {
        display:none;
    }

    .menu-icon {
        display:none;
    }

    .nav-link {
        display:inline;
        padding-left:20px;
    }

    .hero {
        display:flex;
        align-items:center;
    }
    
    .hero-text {
        height:453px;
        padding-left:20px;
        width:50%;
    }
    
    .subtitle {
        margin-bottom:50px;
    }

    .hero-image {
        margin:20px;
        width:50%;
        height:auto;
    }
}

button.dropbtn {
    height:40px;
    width:40px;
    padding:0;
    background-color:#03258C;
    cursor:pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #444;
    right:20px;
    top:44px;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #555
}

.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: rgb(45, 95, 245);
}

@media only screen and (max-width:700px) {
    .project-image {
        width:80%;
    }
}
